body{
	margin: 0;
	padding: 0;
}

/*header one section styling*/

.header_one{
	background-color:#ebebeb;
	}

.txtandlgoconta{
	padding-top:40px;
	padding-bottom:40px;
	
}

.txtandlgo{
height: 70px;
display: flex;
}

.adobetxt{
	line-height:1.2;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	margin-top:14px;
}

#phlogo{
	margin-top: 10px;
	margin-left:30px;
}

.phtxt{
	font-size:21px;
	font-weight: 600;
}

.sintxt{
	font-family: 'Abhaya Libre', serif;
	font-size: 3.3rem;
	font-weight:600;
	padding-left:20px;
}






#navi_bar{
	background-color:#f7f4d3 !important;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
}


    

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 100%;

}












@media (max-width:415px){
	.sintxt{
		font-size: 2.3rem;
		padding-top:11px;
		padding-left:0;
	}

	.adobetxt{
		display: none;
	}

	.lineimg{
		display: none;
	}
}



